@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
<h1> Hello World Project</h1>
<p>This hello world project is made for the screening roun of H-Town.</p>
</div>
